.forest {
  background-color: #405952;
}

.olive {
  background-color: #9C9B7A;
}

.sand {
  background-color: #FFD393;
}

.persimmon {
  background-color: #FF974F;
}

.cayenne {
  background-color: #F54F29;
}

.forest-text {
  color: #405952;
}

.olive-text {
  color: #9C9B7A;
}

.sand-text {
  color: #FFD393;
}

.persimmon-text {
  color: #FF974F;
}

.cayenne-text {
  color: #F54F29;
}
