.bone {
  background-color: #e3e3e0;
}

.bone-text {
  color: #e3e3e0;
}

.bone-text.link:hover {
  background-color: #e3e3e0;
  color: #423c32;
}

.dust {
  background-color: #423c32;
}

.dust.darker {
  background-color: #3a342a;
}

.dust-text {
  color: #423c32;
}

.dust-text.link:hover {
  background-color: #423c32;
  color: #e3e3e0;
}
